<h1><strong> Z-New Articles </strong></h1>
<br>

<table>
	<tr>
		<th> Title </th>
		<th> Body </th>
		<th> Author </th>
		<th> Category</th>
	</tr>

<% @articles.each do |article| %>
	<tr>
			<td><%= link_to article.title, article%></td>
			<td><%= article.body %></td>
			<td><%= article.author %></td>
			<td><%= article.category %></td>
	</tr>	
<% end %>
</table>

<%= link_to "Add New Post", new_article_path %>
